In [33]:
#Q1.
#1
A=("pw skills")
print(A)


#2
B=[1,2,3,4,"phone","TV","computer"]
print(B)


#3
Float= 3.14
print(Float)


t=(9,8,7,"Nepal","India","China")
print(t)

pw skills
[1, 2, 3, 4, 'phone', 'TV', 'computer']
3.14
(9, 8, 7, 'Nepal', 'India', 'China')

In [34]:
#Q2.

#1.
var1=''
type(var1)

str

In [36]:
#2
var2='[DS,ML,PTYHON]'
type(var2)

str

In [37]:
#3
var3=['DS','ML','PYTHON']
type(var3)

list

In [38]:
#4
var4=1
type(var4)

int

In [41]:
#Q3

#1.

12/3

4.0

In [40]:
#2.

4%2

0

In [45]:
#3
4//2

2

In [46]:
#4
2**2

4

In [1]:
#Q4.
l=[1,2,3,4,"ml","DL","NLP",1.32,"$","#"]
for i in l:
   print(i)
type(l)

1
2
3
4
ml
DL
NLP
1.32
$
#

list

In [2]:
#5.
A= int (input(" first number as a:"))
B= int (input("Second number as b :"))
i=1
while (A,B!=0):
  if (A%B)==0:
    print("a is divisible by b")
  else:
    print("a is not divisible by b")
  break

 first number as a:9
Second number as b :3
a is divisible by b

In [1]:
#Q6
l=[2,5,765,445,667,78,9,45,7,9,4,76,565,35,788,335,225,666,88,98,55,353,5,6,77,7]
i=1
for i in l:
    if (i%3)==0:
        
        print("Element from list is divisible by 3")
    else:
        print("Element from list is not divisible by 3")
    i=i+1

Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is divisible by 3
Element from list is divisible by 3
Element from list is divisible by 3
Element from list is not divisible by 3
Element from list is divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is divisible by 3
Element from list is divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3
Element from list is divisible by 3
Element from list is not divisible by 3
Element from list is not divisible by 3

In [ ]:
#Q7.
# Mutable means order can be changed.
#Example of mutable

l=[1,2,3,"python","js","c","java"]

l

In [ ]:
l[-2]

In [ ]:
l[-2]="C++"

In [ ]:
l

In [ ]:
# Immutable means order can't be changed.

l(1, 2, 3, 'python', 'js', 'C++', 'java')

In [66]:
l(2)

TypeError: 'tuple' object is not callable